* {
  box-sizing: border-box;
}

.user-card {
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #6c7927c5;
  background-color: #bac09bab;
  display: inline-block;
  text-align: center;
  min-width: 200px;
  min-height: 300px;
}

.male {
  background-color: #b0e0e6;
  border: 2px solid #4682b4;
}

.female {
  background-color: #f0e68c;
  border: 2px solid #f4a300;
}

.user-card-heading {
  font-size: 1.5em;
  margin: 0;
  color: #333;
}

.user-card-id,
.user-card-gender {
  font-size: 1em;
  margin: 5px 0;
  color: #555;
}

.btn {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}

.add-friend {
  background-color: #28a745;
}

.remove-friend {
  background-color: #dc3545;
}
